.collectionDiv {
    margin-left: 2%;
    margin-top: 2%;
}

@font-face {
    font-family: AlexiaFont;
    src: url('@/assets/fonts/AlexiaFont.ttf');
}

.collectionDiv th {
    text-shadow: 5px 5px 6px #000;
    background-color: rgba(23, 24, 1, 0.6);
    padding: 10px;
    color: #e0e0e0;
    font-size: 2rem;
    font-family: AlexiaFont, 'Arial Narrow Bold', sans-serif;
    border: 4px solid #fff;
}

.collectionDiv td {
    padding: 10px;
    color: #e0e0e0;
    font-size: 1.2rem;
    border: 2px solid #fff;
    background-color: rgba(36, 37, 2, 0.5);

}

table {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgba(36, 37, 2, 0.8);    
}

tbody tr:nth-child(even) {
    background-color: rgba(2, 13, 37, 0.8);    
}

