.sidebar {
    margin-left: 85%;
    margin-right: 0;
    color: #e6e1c5; 
    background-color: rgba(36, 37, 2, 0.5);
    padding: 10px;
    height: 100vh;
    width: 200px;
    position: absolute;
    border-bottom: 1px solid #e6e681;
}

.sidebar-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px #000;
    font-size: 3rem;
    margin-left: 15%;
    text-shadow: 5px 5px 10px #000;
    padding-top: 80px;
}

.sidebar a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10%;
    font-size: 1.3rem;
    text-decoration: none;
    margin-top: 5px;
    padding: 10px;
    color: #e6e1c5;
    margin-top: 15px;
    position: relative;
}

a:hover {
    color: #e6e1c5;
    background-color: rgb(44, 43, 26);
    border: 1px solid #e6e681;
    border-radius: 5px;
}

.toggle {
    margin-right: 0;
    margin-left: 95%;
    margin-top: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #e6e681;
}
  
.homeButton {
    margin-top: 50%;
}

.homeIcon {
    color: #e6e681;
    font-size: 2rem;
}
